@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: block;
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.input-label {
    display: block;
    padding: 1rem 1rem;
    font-size: large;
    font-weight: bold;


}

.input {
    display: block;
    padding: 0.5rem 1rem;
    max-width: 100%;
    margin: auto;

}
.button-box {
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    background-color: blueviolet;
    color:white;
    font-weight: bold;
}

.outputBox {
   font-size: x-large;
   font-weight: bold;  
}

.link-home {
    text-decoration: none;
    border: 1px solid black;
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin: 5rem 1rem;
}